*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
}

#library {
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    gap: 10px;
    margin: 20px;
    padding: 20px 20px 0 20px;

    border: solid brown 5px;
    background-color: burlywood;
}

.book {
    border: black solid 3px;
    width: 200px;
    background-color: white;;
}

.title, .author {
    text-orientation: sideways;
}

.read {
    color: green;
}

.not-read {
    color: red;
}